#variables:
#  CI_DEBUG_TRACE: "true"  # GitLab原生调试模式


stages:
  - code_sync

include:
  # 默认：如果是手动触发，就用 ssh_sync.yml
  - project: 'test/ci-templates'
    file: '/mirror/ci_job_sync_github.yml'
    rules:
      - if: '$CI_PIPELINE_SOURCE == "web"'

  # 否则（比如 push、merge、schedule 等）使用 github_sync_ssh.yml
  - project: 'test/ci-templates'
    file: '/mirror/github_sync_ssh.yml'
    rules:
      - if: '$CI_PIPELINE_SOURCE != "web"'
