stages:
  - code_sync

include:
  # 默认：如果是手动触发，
  - project: 'test/ci-templates'
    file: '/mirror/ssh_sync.yml'
    rules:
      - if: '$CI_PIPELINE_SOURCE == "web"'

  - project: 'test/ci-templates'
    file: '/mirror/github_sync_ssh.yml'
    rules:
      - if: '$CI_PIPELINE_SOURCE != "web"'
